.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            margin-top: 0;
        }
    }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5rem;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.navegacion {

    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear; 

    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &:hover {
            color: $gris;
        }
    }
}


/** Menu de hamburguesa **/
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}

/*Menu Usuario*/

nav {
    margin:0 auto;
    width:inherit;
    height:auto;
    display:inline-block;
    background:none;
  }
  
  nav ul {
    margin:0;padding:0;
    list-style-type:none;
    float:left;
    display:inline-block;
  }
  
  nav ul li {
    position:relative;
    margin:0;
    float:left;
    display:inline-block;
  }
  
  nav ul li a {
    padding: .2rem 1rem;
    display:inline-block;
    color: $blanco;
    text-decoration:none;
  }
  
  nav ul li a:hover {
    opacity:0.5;
  }
  
  nav ul li ul {
    display:none;
    position:absolute;
    left:0;
    background: $azulc;
    float:left;
  }
  
  nav ul li ul li {
    width:100%;
    border-bottom:1px solid $gris;
  }
  
  nav ul li:hover ul {
    display:block;
  }